<div class="prod-container">
  <h2>Products</h2>
  <table class="products">
    <tr>
      <th class="header">
        <h2>NAME</h2>
      </th>
      <th class="title right">
        <h2>QTY</h2>
      </th>
      <th class="header right">
        <h2>PRICE</h2>
      </th>
    </tr>
    {{#each model.products as |product|}}
      {{#if (eq id product.id)}}
        <tr>
          <th>{{input class="input-edit" value=editedName placeholder="New Product Name"}}</th>
          <th>{{input class="input-edit" value=editedQuantity placeholder="New Product Quantity"}}</th>
          <th>{{input class="input-edit" value=editedPrice placeholder="New Product Price"}}</th>
          <th>
          <button type="button" class="btn edit"  onclick={{action "editProduct" product.id}}>Save</button>
          <button type="button" class="btn delete" onclick={{action "cancelEdit"}}>Cancel</button>
        </th>
        </tr>        
      {{else}}
      <tr>
        <th>{{product.name}}</th>
        <th class="prod">{{product.quantity}}</th>
        <th class="right">${{product.price}}</th>        
        <th>
          <button type="button" class="btn edit"  onclick={{action "toggleIsEditing" product.id}}>Edit</button>
          <button type="button" class="btn delete" onclick={{action "deleteProduct" product.id}}>Delete</button>
        </th>
      </tr>
      {{/if}}
    {{/each}}
    <tr>
      <th></th>
      <th></th>
      <th>Total Price ${{totalPrice}}</th>
    </tr>
  </table>
  <div class="add-product">
    {{#if isAddingProduct}}
      <form onsubmit={{action "saveProduct"}}>
        {{input type="text"  value=editedName placeholder="New Product Name"}}
        {{input type="text"  value=editedQuantity placeholder="New Product Quantity"}}
        {{input type="text"  value=editedPrice placeholder="New Product Price"}}
        <button type="submit"  disabled={{isAddButtonDisabled}}>
          Add
        </button>
        <span class="rr-cancel-icon" onclick={{action "cancelAddProduct"}}>
          {{fa-icon "times"}}
        </span>
      </form>
    {{else}}
      <button type="button" name="button" class="add-btn" onclick={{action "addProduct"}}>Add new product</button>
    {{/if}}
  </div>
</div>
