<div class="prod-container">
  <table class="products">
    <tr>
      <th class="header">
        <h2>NAME</h2>
      </th>
      <th class="title">
        <h2>QTY</h2>
      </th>
      <th class="header">
        <h2>PRICE</h2>
      </th>
    </tr>
    {{#each model.products as |product|}}
      <tr>
        <th>{{product.name}}</th>
        <th class="prod">{{product.quantity}}</th>
        <th>${{product.price}}</th>
      </tr>
    {{/each}}
  </table>
  <!-- {{#each model.products as |product|}}
  <div class="pro-btn icon">
    <button type="button" class="btn edit">Edit</button>
    <button type="button" class="btn delete">Delete</button>
  </div>
  {{/each}} -->
</div>

<!-- <div >
  <div class="name">

    <ul class="list">

        <li>

        </li>

    </ul>
  </div>
  <div class="qty">

    <ul class="list">
      {{#each model.products as |product|}}
        <li>

        </li>
      {{/each}}
    </ul>
  </div>
  <div class="price">

    <ul class="list">
      {{#each model.products as |product|}}
        <li>

        </li>
      {{/each}}
    </ul>
  </div>
</div> -->

<!-- <h1>Products</h1>
{{log model}}
{{#each model.products as |product|}}
  <h2>{{product.name}}</h2>
{{/each}} -->
